@import '../styles/tokens/fonts.css';
@import '../styles/tokens/colors.css';
@import '../styles/tokens/typography.css';
@import '../styles/tokens/spacing.css';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: var(--color-bg);
  font-family: var(--font-sans);
  color: var(--text-primary);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #c9d6e5;
  border-radius: 6px;
  border: 2px solid var(--color-bg);
}
